.material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 20pt;
      display: inline-block;
      color: rgb(128,128,128);
    }

    a, a:link, a:visited, a:hover, a:active {
      text-decoration: none;
      color:  black;
    }

    #checkbox {
      position: relative;
      opacity: 0;
      margin-right: 20px;
    }

    .like__icon {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    label.like:hover input+span i.like__icon {
      color: rgb(32,80,223);
    }


    .like__text {
      color: #433d3d;
      font-size: 18pt;
    }

    input#checkbox:checked ~span i.like__icon {
        color: rgb(255,0,0);
    }

    input#checkbox:checked:hover ~span i.like__icon {
        color: rgba(255,0,0,0.7);
    }
