header {   
	margin: 15px;
    padding: 10px;
  
        .logo-image {
         width: 80px;
         height: 80px;
        }
    
    h1 {
      font-size: 50pt;
      color:#8533ff; 
      font-family: "Cambria"; 
      text-align: center;
    }
  } 